:root
{
    --main-color:#17a2b8;
}

.container-fluid
{
    height: 100vh;
    background-color: #24353f;
}

.content
{
    background-color: #24353f;
    box-shadow:  20px 20px 50px 15px  rgba(0,0,0,0.4);

}

h1
{
    color: var(--main-color);
}
.btn 
{
    border: 1px solid var(--main-color);
    color: var(--main-color);
}
.btn:hover
{
    background-color: var(--main-color);
    color: #fff;
}
h3 , a
{
    color: #fff;
    font-size: 16;
}
a:hover
{
    color: #fff;
}

h2
{
    color: #fff;
    font-size: 30;
}

.navBar
{
    box-shadow:  20px 20px 50px 15px  rgba(0,0,0,0.4);

}